<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<title>Cats</title>
</head>
<body>
	<header>
		<h1>EJS Cats</h1>
	</header>
	<div class="wrapper">
		<a href="/michael"><img id="oval" src="images/cat_1.jpg"></a>
		<a href="/jay"><img id="oval" src="images/cat_2.jpg"></a>
		<a href="/brendan"><img id="oval" src="images/cat_3.jpg"></a>
		<a href="/andrew"><img id="oval" src="images/cat_4.jpg"></a>
	</div>
</body>
</html>