<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<title>Fill The Form</title>
</head>
<body>
	<form action="#" method="POST">
		<h1>Fill The Form:</h1>
		<label>Make:</label>
		<input type="text" name="make">
		<label>Model:</label>
		<input type="text" name="model">
		<label>Price Range:</label>
		<input type="text" name="price_range">
		<label>Interior Color:</label>
		<input type="text" name="interior_color">
		<button type="submit">Submit!</button>
	</form>
</body>
</html>